.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1920px;
  padding-top: 116px;
  background-color: white;
}
@media only screen and (max-width: 1080px) {
  .container {
    display: none;
  }
}
.content {
  background-color: #f3f4f6;
  max-width: 1572px;
  margin: 0 auto;
  padding-bottom: calc(var(--f-size) * 2);
}

.btnContainer {
  max-width: 850px;
  margin: 0 auto;
  margin-top: calc(var(--f-size) * 2);
  text-align: right;
}
.btn {
  background-color: #1d62e2;
  transition: 0.3s;
  padding: 18px 55px;

}
.btn:hover {
  background-color: var(--f-color);
}
.btn a {
  color: white;

  font-size: var(--f-size);
}
.logo {
  max-width: 1572px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 12px;
}
