.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    cursor: pointer;
}

label {
    font-size: var(--f-size);
    color: var(--head-color);
    cursor: pointer;
}
/* @media only screen and (max-width: 1080px) {
    .inputs {
        gap: 4rem;
    }

    
} */