@import-normalize;
:root {
  --f-size: 1.25rem;
  --f-color: #0b2554;
  --head-color:#09050D
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* overflow-y: scroll; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
